body {
    background-color: #100e17;
    font-family: 'Open Sans', sans-serif;
    /*overflow-x: hidden;*/
  }
  
  .container {
    position: absolute;
    height: 500px;
    width: 1000px;
    top: 150px;
    left: calc(50% - 550px);
    display: flex;
  }
  
  .card {
    display: flex;
    height: 400px;
    width: 500px;
    background-color: #17141d;
    border-radius: 10px;
    box-shadow: -1rem 0 3rem #000;
  /*   margin-left: -50px; */
    transition: 0.4s ease-out;
    position: relative;
    left: 0px;
  }
  
  .card:not(:first-child) {
      margin-left: -50px;
  }
  
  .card:hover {
    transform: translateY(-20px);
    transition: 0.4s ease-out;
  }
  
  .card:hover ~ .card {
    position: relative;
    left: 50px;
    transition: 0.4s ease-out;
  }
  
  .title {
    color: white;
    font-weight: 300;
    position: absolute;
    left: 20px;
    top: 15px;
  }
  
  .bar {
    position: absolute;
    top: 100px;
    left: 20px;
    height: 5px;
    width: 150px;
  }
  
  .emptybar {
    background-color: #2e3033;
    width: 100%;
    height: 100%;
  }
  
  .filledbar {
    position: absolute;
    top: 0px;
    z-index: 3;
    width: 0px;
    height: 100%;
    background: rgb(0,154,217);
    background: linear-gradient(90deg, rgba(0,154,217,1) 0%, rgba(217,147,0,1) 65%, rgba(255,186,0,1) 100%);
    transition: 0.6s ease-out;
  }
  
  .card:hover .filledbar {
    width: 120px;
    transition: 0.4s ease-out;
  }
  
  .circle {
    position: absolute;
    top: 150px;
    left: calc(50% - 60px);
  }
  
  .stroke {
    stroke: white;
    stroke-dasharray: 360;
    stroke-dashoffset: 360;
    transition: 0.6s ease-out;
  }
  
  svg {
    fill: #17141d;
    stroke-width: 2px;
  }
  
  .card:hover .stroke {
    stroke-dashoffset: 100;
    transition: 0.6s ease-out;
  }

  /* Squeeze END */
  /* Splitted START */
  .card-not {
    display: flex;
    height: 400px;
    width: 500px;
    background-color: #17141d;
    border-radius: 10px;
    box-shadow: -1rem 0 3rem #000;
  /*   margin-left: -50px; */
    transition: 0.4s ease-out;
    position: sticky;
  }
  /* Splitted END */

  /*Custom START */

#change_view {
  float: right;
  transition: transform .3s ease-in-out;
}
.mov-card {
  display: flex;
  height: 400px;
  width: 500px;
  background-color: #17141d;
  border-radius: 10px;
  box-shadow: -1rem 0 3rem #000;
/*   margin-left: -50px; */
  left: -110vw;
  transition: 0.4s ease-in-out;
  position: relative;
}

#first-explore {
  top: 700px;
}
#second-explore {
  top: 1200px;
}
#third-explore {
  top: 1700px;
}
#fourth-explore {
  top: 2200px;
  
}
#fifth-explore {
  top: 2600px;
}
  /*Custom END */


  /*W3 Schools*/
  .w3-grey,.w3-hover-grey:hover,.w3-gray,.w3-hover-gray:hover{
    color:#000!important;background-color:#9e9e9e!important
  }
.w3-container:after,.w3-container:before,.w3-panel:after,.w3-panel:before,.w3-row:after,.w3-row:before,.w3-row-padding:after,.w3-row-padding:before,
.w3-cell-row:before,.w3-cell-row:after,.w3-clear:after,.w3-clear:before,.w3-bar:before,.w3-bar:after{
  content:"";display:table;clear:both
}