*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

@font-face{
    src: url(../assets/font/Zolina-Bold.ttf);
    font-family: z;
}
@font-face{
    src: url(../assets/font/LP\ Horizont\ Caps.otf);
    font-family: l;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@600&display=swap');

html, body, svg, .bg {
  width:100%;
  height:100%;
  overflow:hidden;
  position:absolute;
  top:0;
  font-family: 'Roboto', sans-serif;
  font-size:19px;
}

body {
  background:#000;
}

.bg {
    background: black;
    /* background: linear-gradient(90deg, rgba(7,82,110,1) 7%, rgba(68,0,19,1) 100%); */
}


body{
    background-color: black;
    color: #fff;
    font-family: 'poppins' ,sans-serif;
    height: 100vh;
    width: 100vw;
}

.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 5rem;
}

.nav-bar , button{
    font-family: l;
}

.menu{
    display: flex;
    align-items: center;
    gap: 2rem;
}

li{
    list-style: none;
    transition: .3s ease;
}

a{
    text-decoration: none;
    color: #fff;
}

.menu li:hover{
    transform: scale(1.1);
    text-decoration: underline;
}

.logo h3{
    background: -webkit-linear-gradient(90deg , #f3111c , #f3111c);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-size-adjust: 50%;
}

.btn {
    background: none;
    border: none;
    outline: none;
    color: #fff;
    cursor: pointer;
}

.contact{
    border: 2px solid #fff;
    padding: 1rem 2rem;
}

.contact:hover{
    background-color: #fff;
    color: #111;
    font-weight: bold;
}

.container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    height: calc(100% - 120px);
    width: 100%;
}

.side-one{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
    text-transform: capitalize;
    text-align: center;
    margin: 0;
    position: absolute;
    top: 80%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.side-one h1{
    font-size: 70px;
    line-height: 1.2;
    text-align: center;
}

.skew{
    position: relative;
    padding: 1rem 1.5rem;
    margin: 1rem;
    padding-right: 3rem;
}


.skew::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 0%;
    display: block;
    background: -webkit-linear-gradient(45deg ,  #f3111c, #f3111c);
    z-index: -1;
    border-radius: 5px;
    transition: all 0.8s cubic-bezier(0.42, 0 , 0.58 , 1) 0s;
    transform-origin: bottom left;
    transform: skew(-20deg,0deg);

}


.skew:hover{
    background: transparent;
}


.skew:hover::before{
    left: 0%;
    right: auto;
    width: 100%;
}


.statistics{
    display: flex;
    gap: 3rem;
    font-family: l;
    height: 50%;
    width: auto;
}
.statistic{
    text-align: center;
    margin-top: 1rem;
    margin-left: 2.5rem;
    width: 40px;
}


.s{
    background: -webkit-linear-gradient(90deg,  #f3111c , #f3111c);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.side-two{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding: 0 1.5rem;
}

/*.circle{
    width: 450px;
    height: 450px;
    background: -webkit-linear-gradient(90deg, #ee128f , #f3111c);
    border-radius: 50%;
    margin-right: 5rem;
    box-shadow: 0 0 0 45px rgb(33, 33, 33);

}*/

.circle img{
    display: inline;
    width: 50%;
    margin-left: 27%;
    margin-right: auto;
    margin-top: 5%;
    position: relative;
}



.circle-text{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: transparent;
    position: absolute;
    top: 40%;
    left: 48%;
    font-family: l;
    margin-top: 100px;

}

/*.dot{
    background-color: #fff;
    height: 8px;
    width: 8px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
}*/


.text{
    position: absolute;
    width: 100%;
    height: 100%;
}

.text span{
    position: absolute;
    left: 50%;
    transform-origin: 0 75px;
    font-size: 10px;
}
/* hovering style */
/* #hovering{
    font-size: 6em;
    font-weight: 500;
    color: #222;
    letter-spacing: 5px;
    cursor: pointer;
}
#hovering span{
    transition: 0.5s;
}
#hovering:hover span:nth-child(1){
    margin-right:10px;
} 
#hovering:hover span:nth-child(1):after{
    content: '-';
} 
#hovering:hover span:nth-child(2){
    margin-left: 40px;
}
#hovering:hover span{
    color:#fff;
    text-shadow: 0 0 10px #fff,
                 0 0 20px #fff,
                 0 0 40px #fff,       
                 0 0 80px #fff,               
                 0 0 120px #fff;
} */

:root {
	--hue: 0;
	--bg: hsl(var(--hue),90%,90%);
	--fg: hsl(var(--hue),10%,10%);
	--primary: hsl(var(--hue),90%,55%);
	--trans-dur: 0.3s;
}
.clock {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
}
.clock__block {
	background-color: hsl(var(--hue),100%,50%);
	border-radius: 0.5rem;
	box-shadow: 0 1rem 2rem hsla(var(--hue),90%,50%,0.3);
	font-size: 3em;
	line-height: 2;
	margin: 0.75rem;
	overflow: hidden;
	text-align: center;
	width: 6rem;
	height: 6rem;
	transition:
		background-color var(--trans-dur),
		box-shadow var(--trans-dur);
}
.clock__block--small {
	border-radius: 0.25rem;
	box-shadow: 0 0.5rem 2rem hsla(var(--hue),90%,50%,0.3);
	font-size: 1em;
	line-height: 3;
	width: 3rem;
	height: 3rem;
}
.clock__colon {
	display: none;
	font-size: 2em;
	opacity: 0.5;
	position: relative;
}
.clock__colon:before,
.clock__colon:after {
	background-color: currentColor;
	border-radius: 50%;
	content: "";
	display: block;
	position: absolute;
	top: -0.05em;
	left: -0.05em;
	width: 0.1em;
	height: 0.1em;
	transition: background-color var(--trans-dur);
}
.clock__colon:before {
	transform: translateY(-200%);
}
.clock__colon:after {
	transform: translateY(200%);	
}
.clock__digit-group {
	display: flex;
	flex-direction: column-reverse;
}
.clock__digits {
	width: 100%;
	height: 100%;
}
.clock__block--bounce {
	animation: bounce 0.75s; 
}
.clock__block--bounce .clock__digit-group {
	animation: roll 0.75s ease-in-out forwards; 
	transform: translateY(-50%);
}
.clock__block--delay1,
.clock__block--delay1 .clock__digit-group {
	animation-delay: 0.1s;
}
.clock__block--delay2,
.clock__block--delay2 .clock__digit-group {
	animation-delay: 0.2s;
}

/* Dark theme */
@media (prefers-color-scheme: dark) {
	:root {
		--bg: hsl(var(--hue),10%,10%);
		--fg: hsl(var(--hue),10%,90%);
	}
	.clock__block {
		background-color: hsl(var(--hue),90%,40%);
		box-shadow: 0 1rem 2rem hsla(var(--hue),90%,60%,0.4);
	}
	.clock__block--small {
		box-shadow: 0 0.5rem 2rem hsla(var(--hue),90%,60%,0.4);
	}
}

/* Beyond mobile */
@media (min-width: 768px) {
	.clock {
		flex-direction: row;
	}
	.clock__colon {
		display: inherit;
	}
}

/* Animations */
@keyframes bounce {
	from,
	to {
		animation-timing-function: ease-in;
		transform: translateY(0);
	}
	50% {
		animation-timing-function: ease-out;
		transform: translateY(15%);
	}
}
@keyframes roll {
	from {
		transform: translateY(-50%);
	}
	to {
		transform: translateY(0);
	}
}

/* Custom */
